:root {
  font-family: 'roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  color: #eee;
}
nav{
  width: 90%;
  font-family: monospace;
  margin-bottom: 1.5rem;
}
nav img{
  width: 70px;
  height: auto;
  border-radius: 100vmax;
  object-fit: cover;
}
nav h1{
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
body{
  background: url(./assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: relative;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.932);
  z-index: -1; /* Ensure the overlay is behind other content */
}
.sparkline{
  width: 10%;
}
.price-data {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}

.price-data p{
  margin: 0;
  font-size: .9em;
  font-weight: 400;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.header h1{
  font-size: 4em;
  margin-bottom: 0.2em;
}
.header p{
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
  margin-bottom: 1em;
}
.coins{
  width: 100%;
}
.coin{
  display: flex;
  align-items: center;
  gap: 15px;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.coins ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 0;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

ul li:hover {
  transform: translateY(-5px);
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
}
li {
  list-style: none;
}
li img {
  max-width: 20px;
  height: auto;
  border-radius: 100vmax;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .header p {
    font-size: .8em;
  }
  .app {
    padding: 10px;
  }
  .coin p{
    font-size: .7rem;
    margin-bottom: 0.5em;
  }
  .price-data {
    grid-template-rows: repeat(2, 1fr);
    font-size: 0.9em;
  }
  nav h1{
    font-size: 1.2rem;
    font-weight: bold;
  }
}
